@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-color: #045F66 #f1f1f1;
    scrollbar-width: 12px;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #081b29, #63063f)
}

::-webkit-scrollbar {
    width: 16px; /* Set the width of the scroll bar */
}

::-webkit-scrollbar-thumb {
    background-color: #045F66; /* Set the color of the scroll bar thumb */
    border-radius: 6px; /* Optional: Add rounded corners to the scroll bar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #62B6B7; /* Change color on hover if desired */
}

scrollbar-thumb:hover {
    background-color: #62B6B7;
}


.header {
    background: transparent;
    color: #fff;
    display: flex;
    flex: 1;
    margin-top: 10%;
}

.left, .right {
    flex: 1;
    padding: 20px;
    font-size: 24px;
}

.text-right {
    margin-left: 19%;
    animation: slideInT 2s ease-out forwards;
    margin-left: -100%;
}

@keyframes slideInT {
    to {
        margin-left: 19%; /* Final position on the screen */
    }
}

header p {
    font-size: 18px;
    max-width: 70%;
}

.text {
    margin: 0;
}


.image-container {
    display: flex;
    justify-content: flex-end; /* Align image to the right within its container */
    align-items: center; /* Center the image vertically within its container */
}

.profile-pic {
    max-width: 60%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain the image's aspect ratio */
    margin-right: 24%;
    border-radius: 8px;
    opacity: 0.7;
    border: 2px solid;
    animation: borderAnimation 4s linear infinite;
    width: 45%;
}

@keyframes borderAnimationP {
    0% {
        border-color: #fff;
    }
    25% {
        border-color: #62B6B7;
    }
    50% {
        border-color: #fff;
    }
    75% {
        border-color: #62B6B7;
    }
    100% {
        border-color: #fff;
    }
}


nav {
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    margin-right: 10%;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: opacity 0.5s ease-in-out;
    
}

nav a:hover {
    color: #62B6B7;
}



/* Add media query to make navigation responsive */
@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}

.main-content {
    padding: 20px;
    color: #fff;
}

footer {
    background-color: #081b29;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Add media queries for responsiveness */
@media only screen and (max-width: 600px) {
    header, nav, .main-content, footer {
        padding: 10px;
    }
}






.parallax-container {
    background-image: url('images/parallax3.jpg'); /* Add your background image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh; /* Adjust the height as needed */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    /*animation: colorTransition 7s linear infinite;*/
    border-radius: 8px;
    margin-top: 7%;
    margin-bottom: 3%;
    border: 1px solid;
    animation: borderAnimation 4s linear infinite;
}

/* Add your background image path @keyframes colorTransition {
    0% {
        opacity: 0.5;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }    
}*/




/* Additional styling for the parallax content */
.parallax-container h2 {
    font-size: 2.5em;
}

.parallax-container p {
    font-size: 1.5em;
}

.btn {
    padding: 20px 60px;
    font-size: 16px;
    background-color: #081b29;
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 9.8%;
    background-image: url('images/parallax3.jpg'); /* Add your background image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideInP 3s ease-out forwards, borderAnimation 4s linear infinite;
    margin-left: -100%;
}

@keyframes slideInP {
    to {
        margin-left: 9.8%; /* Final position on the screen */
    }
}

@keyframes borderAnimation {
    0% {
        border-color: #fff;
    }
    25% {
        border-color: #b73b87;
    }
    50% {
        border-color: #fff;
    }
    75% {
        border-color: #b73b87;
    }
    100% {
        border-color: #fff;
    }
}

.btn:hover {
    color: #62B6B7;
    border-color: #62B6B7;
    opacity: 0.8;
    padding: 25px 65px;
}

.btn-hire {
    padding: 20px 60px;
    font-size: 16px;
    background-color: #081b29;
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    margin-left: -100%;
    background-image: url('images/parallax3.jpg'); /* Add your background image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slideIn 2s ease-out forwards, borderAnimation 4s linear infinite;
}

@keyframes slideIn {
    to {
        margin-left: 10%; /* Final position on the screen */
    }
}

.btn-hire:hover {
    color: #62B6B7;
    border-color: #62B6B7;
    opacity: 0.8;
    padding: 25px 65px;
}

.Porject-text {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 16px;
    margin-left: 9.8%;
}

.skills-box {
    width: 20%;
}

.skill {
    margin-bottom: 2%;
}

.skill-name {
    color: #fff;
    font-size: 16px;
    margin-bottom: 2%;
    margin-left: 10.5%;
    margin-top: 2%;
}

.skill-bar {
    background-color: #f0f0f0;
    height: 20px;
    border-radius: 8px;
    width: 15%;
    margin-left: 10.5%;
    margin-bottom: 2%;
}

.skill-progress {
    background-color: #62B6B7;
    animation: borderAnimation 4s linear infinite;
    border: 2px solid;
    height: 100%;
    border-radius: 10px;
}

.Porject-text {
    margin-top: 5%;
    margin-bottom: 5%;
}

.hire-container {
    margin-top: -3.5%;
}